#spring.application.name=demo
#spring.datasource.url=jdbc:mysql://localhost:3306/crudapi
#spring.datasource.username=root
#spring.datasource.password=root

server:
  port: 8082


spring:
  application:
    name: NoteApplication